body {
  background-image: url("../public/img/cat_img/kitten-4557097_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 20px;
}

.contact_info_1 {
  display: flex;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
}

.contact_1 {
  border: 10px solid rgb(82, 215, 64);
  border-radius: 5px;
}

.cat-1 {
  width: 500px;
  height: 400px;
  border: 5px solid rgb(244, 147, 109);
  border-radius: 5px;
}
.contact_info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.contact_name {
  font-size: 30px;
  margin-left: 250px;
}

.contact_phone {
  display: flex;
}

.telephone {
  width: 25px;
  margin-right: 90px;
  margin-left: 90px;
}

.contact_email {
  display: flex;
}

.email {
  width: 25px;
  margin-left: 90px;
  margin-right: 90px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
